doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.menu
      a(href='#') Главная
      a(href='#') Товар
      a(href='#') Контент
    block content
