doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/main.js")
  body
    nav.menu
      a(href='#') Главная
      a(href='#') Товар
      a(href='#') Контент
    #box slovo
    block content
